$main-font-color: #000000;
$light-green-color-font: #54DCB3;
$second-green: #009494;

.MarginTop{
    margin-top: 150px;
}

.IntroImg {
    min-width: 50%;
    height: 100%;
}

.GuitarMan {
    background-size: cover;
    width: 100%;
    height: 100%;
}

.FlexBackground {
    display: flex;
    align-items: center;
    border: 3px solid red;
    width: 100vw;
    height: 100vh;
}

.Info {
    border: 3px solid green;
    width: 50%;
    height: 100%;
    background-color: black;
    color: $main-font-color;
}